# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
xcuserdata/
DerivedData/
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM
build/

# macOS
.DS_Store
*.swp
*~.nib

# CocoaPods
Pods/

# Swift Package Manager
.build/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/README.md

# Ruby
vendor/bundle
.bundle
